:root {
    --main-color: orange;
    --red: red;
    --light-color: #777;
    --light-bg: #eee;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.2);
    --black: rgba(26, 32, 44, 1);
  }
  